<!DOCTYPE html>
<html lang="{{ lang or site.lang }}">
<head>
  <title>{{ title or site.title }}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description or site.description }}">

  {% include "head/open-graph.njk" %}
  {% include "head/favicon.njk" %}

  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <script type="module" src="/scripts/scripts.js"></script>
</body>
</html>
